  .header {
    margin-bottom: 3rem;
  }

  .header h1 .sub {
    color: #757575;
    font-size: 1.25rem;
    font-weight: normal;
  }

  .kicker {
    color: #9e9e9e;
    font-size: 11px;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 1em;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .v-navigation-drawer--right h1 {
    font-size: 2.125rem;
    font-weight: 700;
    letter-spacing: -0.04em;
    line-height: 1.25em;
    margin-bottom: 3rem;
    margin-top: 3rem;
    text-transform: none;
  }

  .container630 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 654px;
  }

  .field label {
    margin: 0 0 8px;
  }

  .text-fields {
    display: inline-block;
    padding-right: 4rem;
    width: 100%;
  }

  .text-fields .field {
    margin-bottom: 1.5rem;
  }

  .text-fields .field label {
    display: block;
    margin: 0 0 8px;
    font-size: 14px;
    /* font-size: 0.875rem; */
    line-height: 20px;
    font-weight: 700;
    text-transform: none;
  }

  .container630 .picture-upload label {
    margin: 0 0 8px;
    font-weight: 700;
    /* font-size: 14px; */
  }

  /* .text-fields .field label .fx-input {
    border: 1px;
  } */
  
  /* .text-fields .field label input {
    height: 2.5rem;
  } */
  
  /* .field label {
    font-weight: 500;
    margin-bottom: 0.5rem;
  } */